.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
}
.square:focus{ /*:focus permet de cibler un élément lorsque celui-ci reçoit le focus (soit il est sélectionné à l'aide du clavier, soit il est activé avec la souris*/
  outline: none;  /*outline est le contour qui se fait lorsqu'on appuie sur une case.*/
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
 }
 .game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;  
 }

 ul {
  padding-left: 30px;
  list-style-type: none;
 }
 .game-info {
  margin-left: 20px;
 }
 .status {
  margin-bottom: 10px;
 }
 .border-row{
   display: flex;
   flex-wrap: nowrap;
 }
 .title{
   text-align: center;
 }

 body{
   background-color: rgb(255, 147, 147);
 }